<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header flex items-center py-4 px-6 h-header-height">
      <a href="../dashboard/index.html" class="b-brand flex items-center gap-3">
        <span class="logo logo-lg font-semibold text-theme-sidebarcolor dark:text-themedark-sidebarcolor text-xl">Data Fox</span>
        <span class="logo logo-sm font-semibold text-theme-sidebarcolor dark:text-themedark-sidebarcolor text-sm">Data Fox</span>
      </a>
    </div>
    <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
      <ul class="pc-navbar">
        @@include('./menu-list.html')
      </ul>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
